{% extends "layout.html" %}    

{% block content %}
    {% for table in tables %}
        {{table|safe}}
    {% endfor %}
    <div class="input-group">
        <form action="/message" method="POST">
            <input type="text" name="columnY" class="form-control" placeholder="Nombre de la columna (Y)" required>
            <input type="text" name="columnX" class="form-control" placeholder="Nombre de la columna (X)" required>
            <label>Seleccione una gráfica: </label>
            <select name="option">
                <option value="barra">Barras</option>
                <option value="pastel">Pastel</option>
                <option value="lineal">Lineal</option>         
            </select>
            <input type="text" name="nameGraph" class="form-control" placeholder="Nombre de la gráfica" required>
            <button type="submit" class="btn btn-primary">Guardar gráfica</button>
        </form>
    </div>
{% endblock %}