<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" 
    crossorigin="anonymous">
    <title>Mostar Datos</title>
</head>
<body>
    <!--<div class="col-4 align-self-center">
        <form class="input-group" role="form">
            <input type="text" name="fileUpload" class="form-control" value="{{file}}" readonly>
        </form>
    </div>-->
    {% for table in tables %}
        {{table|safe}}
    {% endfor %}
    <div class="input-group">
        <form action="/message" method="POST">
            <input type="text" name="columnName" class="form-control" placeholder="Nombre de la columna" required>
            <label>Seleccione una gráfica: </label>
            <select name="option">
                <option value="barra">Barras</option>
                <option value="pastel">Pastel</option>
                <option value="lineal">Lineal</option>         
            </select>
            <input type="text" name="nameGraph" class="form-control" placeholder="Nombre de la gráfica" required>
            <button type="submit" class="btn btn-primary">Guardar gráfica</button>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>